.navbar{
    position: fixed;
    top:0;
    width: 75px;
    background-color:black;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.logo{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 35px;
    transform: translate(-50%);
    top: 20px;
    height:50px;
    width:50px;
    top: 20px;
    transition: 0.5s ease-in-out;
}

.logo img{
    height: 100%; 
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.logo h2{
    padding-left: 20px;
    color: azure;
}

.navList{
    position:relative;
    padding: 100px 15px;
    width: 0;
}

.icon {
    margin-bottom: 75px;
    position: relative;
    color: azure;
    padding: 20px;
}

.icon:hover{
    color: aqua;
}

.navbar:hover{
    width: 250px;
}

.icon a{
    padding-left: 20px;
    text-decoration: none;
    color: azure;
    font-size: 150%;
}

.icon a:hover{
    text-decoration: underline;
}





