.skill{
    width: 200px;
    height: auto;
    border:2px;
    border-color: rgb(7, 94, 94);
    border-style: solid;
    border-radius: 10px;
    display: grid;
    padding: 10px;
}



.skillsImg{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.skillsImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skillsName p{
    font-size: 150%;
    font-weight: bold;
    color: rgb(78, 233, 43);
}

@media(max-width:900px){
    .skill {
        width: 325px;
        padding: 15px;
    }

    .skillsImg{
        width: 320px;
    }

    .skillsName p{
        font-size: 125%;

    }

}
